hgroup {
	margin-block-end: var(--size-6);
}

p {
	/* line-height: var(--font-lineheight-2); */
	font-size: var(--font-size-3);
	font-family: var(--font-serif);
	letter-spacing: var(--font-letterspacing-2);
}

/* CLASSES */
.badge {
	padding-inline: var(--size-2);
	padding-block: var(--size-1);

	background: hsl(var(--gray-8-hsl) / 50%);
	color: hsl(var(--pink-2-hsl) / 50%);
	border-radius: var(--radius-3);
	font-size: var(--font-size-0);
	margin-inline-end: var(--size-1);
}

.tags {
	margin-block-start: var(--size-4);
}
