/* gradient headers */
.gradientHeaders {
  background: linear-gradient(to bottom, var(--purple-3), var(--red-3), var(--orange-3), var(--yellow-3)) fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-family: var(----font-neo-grotesque);
}

p,
h1,
h2,
h3,
h5,
h6,
ul,
ol,
li {
  font-family: var(--font-system-ui);
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

img {
  border-radius: var(--radius-3);
}

ul,
ol {
  padding: 0;
  list-style: none;
}

li {
  padding-inline-start: 0;
}
