main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

form {
	display: flex;
	flex-direction: column;
	gap: var(--size-1);
}

input {
	border: 1px solid var(--border);
}

label {
	margin-block: var(--size-1);
	color: var(--link);
	font-size: var(--font-size-0);
}

hr {
	margin-block: var(--size-1);
}

/* MAIN CLASSES */
.hero {
	display: grid;
	gap: var(--size-1);
	padding: var(--size-10);
}

.hero-message {
	line-height: var(--font-lineheight-0);
}

.under-hero {
	margin-block-end: var(--size-3);
	color: var(--gray-7);
	font-size: var(--font-size-3);
}

.button-list {
	display: flex;
	flex-direction: column;
	gap: var(--size-7);
	margin-top: var(--size-7);
	& a {
		font-size: var(--font-size-0);
	}
}

/* VALIDATION CLASSES */
.error-message {
	display: flex;
	flex-direction: row;
	gap: var(--size-2);
	margin-block: var(--size-4);
	border-radius: var(--radius-2);
	background-color: hsl(var(--red-5-hsl) / 30%);
	padding: var(--size-2);
	font-size: var(--font-size-1);
}

.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
